$grey: #333333;
$white: #ffffff;

// Navigation Styles
$nav-background: $grey;
$nav-text-color: $white;
$nav-active-link: bold;

// Clock Styles 
$clock-text-color: white;
$clock-bg-color: #B5D0E2;
$clock-border-color: #2099E8;
